### Recap
- countries
- populations

In [1]:
countries = ['China', 'India', 'United States', 'Indonesia', 'Pakistan', 'Brazil', 'Nigeria']
pop = [1425000000, 1408000000, 340000000, 277000000, 240000000, 215000000, 223000000]

In [2]:
count_pop = countries.index('Pakistan')
count_pop # find the index of pakistan

4

In [3]:
pop[4] # find the population of pakistan by that index number

240000000

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

In [4]:
# Extracting values by dictionary
count_pop_dict = {'China': 1425000000,
                  'India': 1408000000,
                  'United States': 340000000,
                  'Indonesia': 277000000,
                  'Pakistan': 240000000,
                  'Brazil': 215000000,
                  'Nigeria': 223000000}

count_pop_dict

{'China': 1425000000,
 'India': 1408000000,
 'United States': 340000000,
 'Indonesia': 277000000,
 'Pakistan': 240000000,
 'Brazil': 215000000,
 'Nigeria': 223000000}

In [5]:
count_pop_dict['United States']

340000000

In [6]:
{["Umair", "Noman", "Salman"]: "Names"} #dictionary doesn't accept mutable keys so it will show the error

<class 'TypeError'>: unhashable type: 'list'

In [7]:

#Dictionary accept the immutable keys
{"Names": ["Umair", "Noman", "Salman"]}

{'Names': ['Umair', 'Noman', 'Salman']}

In [8]:
# add new value in dictionary
count_pop_dict.update({"Afghanistan": 139000000})
count_pop_dict #Dictionary had updated

{'China': 1425000000,
 'India': 1408000000,
 'United States': 340000000,
 'Indonesia': 277000000,
 'Pakistan': 240000000,
 'Brazil': 215000000,
 'Nigeria': 223000000,
 'Afghanistan': 139000000}

In [9]:
#another way to add value in dict
count_pop_dict["Iran"] = 253000000
count_pop_dict

{'China': 1425000000,
 'India': 1408000000,
 'United States': 340000000,
 'Indonesia': 277000000,
 'Pakistan': 240000000,
 'Brazil': 215000000,
 'Nigeria': 223000000,
 'Afghanistan': 139000000,
 'Iran': 253000000}

In [10]:
# we use the `in` keyword to check if value is in our dictionary or not let see how
print("United States" in count_pop_dict) # It will return in boolean (True/False)
print("Canada" in count_pop_dict) # canada is not in our dictionary

True
False

In [11]:
#Deleting value from dictionary
del(count_pop_dict["Brazil"])

In [12]:
count_pop_dict #Brazil has deleted

{'China': 1425000000,
 'India': 1408000000,
 'United States': 340000000,
 'Indonesia': 277000000,
 'Pakistan': 240000000,
 'Nigeria': 223000000,
 'Afghanistan': 139000000,
 'Iran': 253000000}

## List vs Dictionaries

![dic_06.webp](attachment:af6ed289-15e9-465e-8461-9aca0280d0ae.webp)

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

In [2]:
import pandas as pd

### CREATING DATAFRAME

In [31]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

In [32]:
bricks_df = pd.DataFrame(bricks)
bricks_df

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [33]:
# Change the index values
bricks_df.index = ['BR', 'RU', 'IN', 'CH', 'SA']
bricks_df

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

change index values `df.index = []`

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [3]:
bricks_csv = pd.read_csv('bricks.csv', index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc

In [4]:
#Slicing Method 1
bricks_csv.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [5]:
#Slicing Method 2
bricks_csv['capital'] #If we have space between the value so we use this method to slice the value

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [6]:
type(bricks_csv['capital'])

pandas.core.series.Series

#### Series
Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame or as a standalone data structure

In [7]:
bricks_csv[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [8]:
type(bricks_csv[['country']])

pandas.core.frame.DataFrame

In [9]:
bricks_csv[['country', 'capital', 'population']] #DataFrame

         country    capital  population
BR        Brazil   Brasilia      200.40
RU        Russia     Moscow      143.50
IN         India  New Delhi     1252.00
CH         China    Beijing     1357.00
SA  South Africa   Pretoria       52.98

#### DataFram
DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns

### Index and Select Data
- Sqare brakets
- Advance method
  - loc
  - iloc

### Access values by indexing

In [10]:
bricks_csv[1:3]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [11]:
bricks_csv[:3]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [12]:
bricks_csv[1:]

         country    capital    area  population
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [13]:
# square bralets have limited functionality
# Accessing rows and columns togather
bricks_csv[1:3, 1:4] #test numpy access method for specific rows and columns

<class 'pandas.errors.InvalidIndexError'>: (slice(1, 3, None), slice(1, 4, None))

### Question What if we want specific columns and rows ?
###### Key points about [ ] square brakets

- square bralets have limited functionality
- ideally 
    - Remember **2D Numpy array** in numpy
    - ``my_arr[row, col]``
- pandas
    - ``loc``(label based)
    - ``iloc`` (index based)

In [14]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [15]:
#I cann't access specific rows and columns by sqare brakets but
# If I want specific rows and columns so I will have to use 'loc' or 'iloc'
bricks_csv.loc['IN'] #--> rows as pandas series

country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object

In [16]:
type(bricks_csv.loc['IN']) #loc also give us series and dataframe with same way

pandas.core.series.Series

In [17]:
bricks_csv.loc[['CH']]

   country  capital   area  population
CH   China  Beijing  9.597      1357.0

In [18]:
type(bricks_csv.loc[['CH']]) #loc also give us series and dataframe with same way

pandas.core.frame.DataFrame

In [19]:
bricks_csv.loc[['RU', 'SA']] #Specific rows

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
SA  South Africa  Pretoria   1.221       52.98

In [20]:
# Access Specific rows and columns
bricks_csv.loc[['BR','CH'], ['country', 'area']]
#We cann't access specific rows & columns by sqare brakets but here we have accessed specific rows & columns by adcance method

   country   area
BR  Brazil  8.516
CH   China  9.597

In [21]:
bricks_csv.loc['BR':'CH', ['country']]

   country
BR  Brazil
RU  Russia
IN   India
CH   China

In [22]:
bricks_csv.loc['BR':'IN', 'country':'area']

   country    capital    area
BR  Brazil   Brasilia   8.516
RU  Russia     Moscow  17.100
IN   India  New Delhi   3.286

In [23]:
bricks_csv.loc[:, ['capital', 'population']] # all rows with specific columns

      capital  population
BR   Brasilia      200.40
RU     Moscow      143.50
IN  New Delhi     1252.00
CH    Beijing     1357.00
SA   Pretoria       52.98

#### Quick Recap

- Square brakets

    - column access --> ``bricks.csv[['country', 'capital']]``
    - row access (only through slicing) --> ``bricks_csv[1:4]``
    
- loc(label-based) remeber ``arr[rows, columns]``

    - row access --> ``bricks_csv.loc[['BR', 'IN']]``
    - columns access --> ``bricks_csv.loc[:['country', 'capital']]``
    - both rows and columns --> <br>
    ``bricks_csv.loc[['BR', 'IN'], ['country', 'capital']]``

### Accessing values with iloc[]

In [24]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [25]:
bricks_csv.iloc[1] #specific row

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [26]:
bricks_csv.iloc[2,3] #specific row with column

1252.0

In [27]:
type(bricks_csv.iloc[1])

pandas.core.series.Series

In [28]:
bricks_csv.iloc[[2]] #specific row

   country    capital   area  population
IN   India  New Delhi  3.286      1252.0

In [29]:
type(bricks_csv.iloc[[2]])

pandas.core.frame.DataFrame

In [30]:
bricks_csv.iloc[[2, 4]] #specific rows

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
SA  South Africa   Pretoria  1.221       52.98

In [31]:
bricks_csv.iloc[[2, 4], [1, 3]] #specific rows and columns

      capital  population
IN  New Delhi     1252.00
SA   Pretoria       52.98

In [32]:
bricks_csv.iloc[[2, 3, 4], :]

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
CH         China    Beijing  9.597     1357.00
SA  South Africa   Pretoria  1.221       52.98